@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
/* line 1, ../../../sass/components/_constrained.scss */
.constrained {
  margin: 0 auto; }
  @media (min-width: 44em) {
    /* line 1, ../../../sass/components/_constrained.scss */
    .constrained {
      width: 44em; } }
  @media (min-width: 70em) {
    /* line 1, ../../../sass/components/_constrained.scss */
    .constrained {
      width: 70em; } }

@media (min-width: 44em) {
  /* line 2, ../../../sass/components/_navigation.scss */
  .l-branding {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 5, ../../../sass/components/_navigation.scss */
  .l-region--navigation {
    width: 74.57627%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
/* line 11, ../../../sass/components/_navigation.scss */
nav ul {
  list-style-type: none;
  list-style-image: none; }
  /* line 14, ../../../sass/components/_navigation.scss */
  nav ul li {
    display: inline-block; }

/* line 1, ../../../sass/base/_lists.scss */
.breadcrumb {
  display: none; }

/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 3, ../../../sass/base/_typography.scss */
* {
  font-family: 'Open Sans', sans-serif; }

/* line 1, ../../../sass/abstractions/_extends.scss */
.angled, .pane-events-events-pane .view-events .banner:after, .pane-events-events-pane .view-events .date:after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  -moz-transform: skew(0deg, 7deg);
  -ms-transform: skew(0deg, 7deg);
  -webkit-transform: skew(0deg, 7deg);
  transform: skew(0deg, 7deg); }

@media (min-width: 44em) {
  /* line 25, ../../../sass/layouts/subpage/subpage.layout.scss */
  .l-header {
    width: 83.05085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

@media (min-width: 44em) {
  /* line 31, ../../../sass/layouts/subpage/subpage.layout.scss */
  .l-content {
    width: 83.05085%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }

/* line 38, ../../../sass/layouts/subpage/subpage.layout.scss */
.pane-events-events-pane {
  text-align: center; }
  @media (min-width: 44em) {
    /* line 38, ../../../sass/layouts/subpage/subpage.layout.scss */
    .pane-events-events-pane {
      width: 83.05085%;
      float: left;
      margin-right: -100%;
      margin-left: 0;
      clear: none; } }
  /* line 43, ../../../sass/layouts/subpage/subpage.layout.scss */
  .pane-events-events-pane .pane-title {
    display: inline-block;
    padding: 10px;
    background: red;
    color: #fff;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg); }
  /* line 52, ../../../sass/layouts/subpage/subpage.layout.scss */
  .pane-events-events-pane .view-events {
    text-align: left; }
    @media (min-width: 44em) {
      /* line 55, ../../../sass/layouts/subpage/subpage.layout.scss */
      .pane-events-events-pane .view-events .views-row {
        display: inline-block;
        width: 31.5%;
        margin-right: 1%;
        vertical-align: top; } }
    /* line 62, ../../../sass/layouts/subpage/subpage.layout.scss */
    .pane-events-events-pane .view-events .content {
      z-index: 0; }
    /* line 65, ../../../sass/layouts/subpage/subpage.layout.scss */
    .pane-events-events-pane .view-events .banner {
      position: relative; }
      /* line 3, ../../../sass/abstractions/_mixins.scss */
      .pane-events-events-pane .view-events .banner:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 56.25%; }
      /* line 9, ../../../sass/abstractions/_mixins.scss */
      .pane-events-events-pane .view-events .banner > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      /* line 67, ../../../sass/layouts/subpage/subpage.layout.scss */
      .pane-events-events-pane .view-events .banner:after {
        bottom: -50px;
        left: 0;
        z-index: 0;
        width: 101%;
        height: 100px; }
    /* line 76, ../../../sass/layouts/subpage/subpage.layout.scss */
    .pane-events-events-pane .view-events .date {
      position: absolute;
      top: 0;
      right: 15px;
      background: #fff;
      padding: 15px 30px 5px 30px;
      text-align: center; }
      /* line 83, ../../../sass/layouts/subpage/subpage.layout.scss */
      .pane-events-events-pane .view-events .date span {
        display: block; }
      /* line 86, ../../../sass/layouts/subpage/subpage.layout.scss */
      .pane-events-events-pane .view-events .date:after {
        bottom: -10px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 25px; }
    /* line 95, ../../../sass/layouts/subpage/subpage.layout.scss */
    .pane-events-events-pane .view-events .details {
      position: relative;
      z-index: 1;
      margin-top: -25px; }

/* line 105, ../../../sass/layouts/subpage/subpage.layout.scss */
.views-field-field-heading-image {
  position: relative; }
  /* line 107, ../../../sass/layouts/subpage/subpage.layout.scss */
  .views-field-field-heading-image:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 102%;
    height: 30%;
    background: #fff;
    -webkit-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg); }

/*# sourceMappingURL=subpage.layout.css.map */
