@include breakpoint($m, true) {
	.l-branding {
		@include grid-span(3,1);
	}
	.l-region--navigation {
		@include grid-span(9,4);
	}
}

nav {
	ul {
		list-style-type: none;
		list-style-image: none;
		li {
			display: inline-block;
		}
	}
}