@include breakpoint($m, true) {
	.l-branding {
		@include grid-span(3,1);
	}
	.l-region--navigation {
		@include grid-span(9,4);
	}
}

nav {
	position: relative;
	border-top: 25px solid $primary;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: -25px;
		left: -10px;
		height: 25px;
		width: 25px;
		background: $primary;
		@extend .angledX;
	}
	ul {
		li {
			display: inline-block;
			margin: 0 15px;
			list-style-type: none;
			list-style-image: none;
			a {
				text-decoration: none;
			}
		}
	}
}