@include breakpoint($m, true) {
	.l-branding {
		@include grid-span(3,1);
	}
	.l-region--navigation {
		@include grid-span(9,4);
	}
}

nav {
	border-top: 25px solid blue;
	transform: skew(25deg, 0deg);
	ul {
		transform: skew(-25deg, 0deg);
		li {
			display: inline-block;
			margin: 0 15px;
			list-style-type: none;
			list-style-image: none;
			a {
				text-decoration: none;
			}
		}
	}
}