.angledX {
	content: "";
	display: block;
	position: absolute;
	@include skew(25deg, 0deg);
}
.angledY {
	content: "";
	display: block;
	position: absolute;
	background: $main-bkgd;
	@include skew(0deg, 7deg);
}