@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@mixin skew($x, $y) {
	-webkit-transform: skew($x, $y);
	-ms-transform: skew($x, $y);
	transform: skew($x, $y);
}

@mixin rotate($val) {
	-webkit-transform: rotate($val);
	-ms-transform: rotate($val);
	transform: rotate($val);
}