// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "../../variables/**/*";
@import "../../components/**/*";
@import "../../base/**/*";

.l-header {
	@include breakpoint($m, true) {
		@include grid-span(10,3);
	}
	// @extend .constrained;
	// @include clearfix;
}

.l-content {
	@include breakpoint($m, true) {
		@include grid-span(10,3);
	}
	// @extend .constrained;
	// @include clearfix;
}


.pane-events-events-pane {
	text-align: center;
	@include breakpoint($m, true) {
		@include grid-span(10,1);
	}
	.pane-title {
		display: inline-block;
		padding: 10px;
		background: red;
		color: #fff;
		-webkit-transform: rotate(2deg);
		-ms-transform: rotate(2deg);
		transform: rotate(2deg);
	}
	.view-events {
		text-align: left;
		@include breakpoint($m, true) {
			.views-row {
				display: inline-block;
				width: 32%;
				margin-right: 1%;
				vertical-align: top;
			}
		}
		.views-field-field-heading-image {
			position: relative;
			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: -2px;
				left: -2px;
				width: 102%;
				height: 30%;
				background: $main-bkgd;
				-webkit-transform: rotate(2deg);
				-ms-transform: rotate(2deg);
				transform: rotate(2deg);
			}
		}
	}
}
